$main-color: #1156eb;
$bg-color: #242323;
$bg-color-secundary: rgb(255, 255, 255);
$text-color: #999999;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  @include flex;

  background-color: $bg-color;

  font-family: 'Poppins', sans-serif;

  position: relative;

  padding-inline: 28px;

  height: 100vh;

  word-wrap: break-word;
}
