* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: none;
}
