* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  font-family: "Poppins", sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #191e29;
}
body .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  max-width: 340px;
  width: 100%;
}
body .main-container .form-container {
  width: 100%;
  padding: 28px;
  background-color: #132d46;
  border-radius: 8px;
}
body .main-container .form-container span {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
body .main-container .form-container .form-wrapper {
  margin-top: 16px;
}
body .main-container .form-container .form-wrapper .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
  position: relative;
  margin: 18px 0;
}
body .main-container .form-container .form-wrapper .input-wrapper label {
  font-size: 14px;
  opacity: 0.8;
  color: #ffffff;
}
body .main-container .form-container .form-wrapper .input-wrapper input {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: #132d46;
}
body .main-container .form-container .form-wrapper .input-wrapper input:focus {
  border: 2px solid #01c38d;
}
body .main-container .form-container .form-wrapper i {
  position: absolute;
  right: 6%;
  bottom: 24%;
  color: #01c38d;
}
body .main-container .form-container .form-wrapper .btn {
  width: 100%;
  height: 52px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #01c38d;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
body dialog {
  width: 100%;
  padding: 28px;
  background-color: #132d46;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
}
body dialog .bmi-statement {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
body dialog .bmi-result {
  margin-top: 16px;
  font-size: 48px;
  color: #01c38d;
}
body dialog .modal-close {
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}
body dialog .modal-close button {
  position: absolute;
  top: 6px;
  right: 12px;
  background-color: transparent;
  color: #01c38d;
  font-size: 18px;
  cursor: pointer;
}
body dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 768px) {
  body dialog {
    width: 50%;
  }
}
body .footer-conteiner {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}
body .footer-conteiner span {
  color: #ffffff;
}
body .footer-conteiner span a {
  color: #01c38d;
}/*# sourceMappingURL=style.css.map */